<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.fork.adhocrailway.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="ch.fork.adhocrailway.android.AdHocRailwayApplication"
        android:allowBackup="true"
        android:icon="@drawable/adhoc_railway_64"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="ch.fork.adhocrailway.android.ConnectActivity"
            android:label="@string/title_activity_connect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ControllerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:immersive="true"></activity>

        <activity
            android:name="ch.fork.adhocrailway.android.LocomotiveSelectActivity">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
    </application>

</manifest>
